<app-product-navbar></app-product-navbar>
<div class="container">
    <div class="row mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Image</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let i of data">
                        <td>{{i.name}} </td>
                        <td><img height="200px" width="200px" src={{i.image}}  alt=""></td>
                        <td>{{i.category}} </td>
                        <td>{{i.description}} </td>
                        <td>{{i.price}} </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</div>

