<div class="conatiner">
    <div class="row g-5 mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
            <h1>ADMIN LOGIN</h1>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <img src="assets/images/adminlogin.png" height="600px" width="900px" alt="">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xxl-6">
            
                <div class="row g-4 mt-5">
                  
                    
                    
                    <div class="col col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                        <label for="" class="form-label">Username</label>
                        <input name="username" [(ngModel)] = "username" type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                        <label for="" class="form-label">Password</label>
                        <input name="password" [(ngModel)] = "password" type="password" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10 text-center">
                        <button (click) = "readValue()" class="btn btn-dark">Login</button>
                    </div>
                    <div class="col col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10 text-center">
                        <a routerLink="/userLogin">click here for user Login</a>
                    </div>
                    <div class="col col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10 text-center">
                        <a routerLink="/register">click here for user Signup</a>
                    </div>
               
            </div>
           
        </div>
        
        
    </div>
</div>